



.indented{
  text-indent: 50px;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

img {
    max-width: 100%;
  }


  header.primary h1{
    padding: 20px 10px 0px 10px;
    color: rgb(255, 255, 255);
    text-align: center;
   
    text-shadow: -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;

      }

  header.primary img {
    
    padding: 0px 0px 10px 0px ;

    border-radius: 7px;
  
    
  }
    
      main{padding: 15px 20px 30px 20px;
      }
    
      header.primary{
     
        background-image: url("/final/assets/img/steel.jpg") ;
        background-size:cover;
      }

      nav{

        background-color: aliceblue;
        
        margin: 0px auto;
      }

      ul{
        margin: 0px ;
         text-decoration: none;
      }
      
      nav ul {
        
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
       padding: 0px;
       
        
      }
      
      nav li {
        text-decoration: none;
        list-style-type: none;
      }
      
      nav a:link, nav a:visited {
        display: block;
        padding: 8px 16px;
        border: 1px solid rgba(109, 107, 109, 0.65);
        text-align: center;
        text-decoration: none;
        
        text-transform: uppercase;
        font-size: 0.75em;
        background: rgba(153, 152, 151, 0.65);
        transition: background-color 0.5s ease;
        color: #000000;
        font-weight: 550;
      }

      nav a:hover {
        background: rgba(0, 0, 0, 0.55);
        color: rgba(255, 255, 255, 0.80);
      }




  
  
  .container {
    width: 420px; /* Design Time */
    margin: 0 auto;
    background-color: rgb(207,90,40,.9) ;
    padding: 0px;
    
    background-image: url("/final/assets/img/background-texture.jpg");
   
    
  }


  section#articles  {
    background-color: aliceblue;   
    padding: 10px;
    border-radius: 7.5px;
  }

  section#articles h3{

padding-left: 10px;
font-size: 1.6rem;
margin: 7px;
clear: both;
  }

  section#articles p{

    font-size: 1.4rem;
  }

  section#articles img{
    width: 120px;
    padding: 5px 0px 5px 0px;
    margin: 30px 15px 0px 0px;
    float:inline-start;
    

    
    
    background-color:rgba(153, 152, 151, 0.65);
    border-radius: 7px;
    
  }



  section#articles video{
    max-width: 100%;
    display: block;
    margin: auto;
    border-radius: 4.5px;
  }



  footer{

    background-color: rgb(15, 15, 15); 
    color: aliceblue;
  }

  


  footer h2{
    padding:10px 20px 0px 20px;
  }
  footer p{

    padding:0px 10px 0px 10px;
    margin:0px;
  }
  footer h6 {
    padding: 15px;
    margin:0px;
  }
  

/*          other pages                 */
 

  section#monster{
    background-color: rgb(11, 10, 10);   
    color: rgb(13, 149, 40);
    padding: 10px;
    border-radius: 7.5px;
     

  
     
    } 

    section#monster h2{
      font-size: 30px;
        padding: 0px 10px;

    }

    section#monster p{
      padding: 0px 25px;
      font-size:25px ;
    }


    #monster a {
      border-radius: 3px;
      border: 1px solid rgb(27, 103, 27);
      padding: 8px 16px;
      text-align: center;
      text-decoration: none;
      color: #222222;
      font-size: 0.95em;

      

     
      background: rgb(13, 149, 40);
      transition: background-color 0.5s ease;
      color: #000000;
      font-weight: 550;
      
    }


   






    section#Intro{
      background-color: aliceblue;  
      
      padding: 10px;
      border-radius: 7.5px;
       
  
    
       
    } 


    
    section#Intro img{
      border-radius: 4.5px;
      float:inline-start;
      padding-right: 20px;
      width: 100%;
    }

    section#Intro p,ul{
     
      font-size:23px ;
      
    }

    section#Intro p{


    }
   
      
    

    section#intro ul{
      
      
      padding-left: 20px;
      padding: 0px;
    }

   

/* *//* breaking points */ /*  */




  /* 768 */

  @media screen and (min-width:768px){
  
  .container{
    width:680px;
  }

  nav ul {
  
  
  gap:2em;
 padding: 0px 20px ;
    margin :auto;
  }

  nav a:link, nav a:visited {
    border-radius: 5px;
  }

  nav a:hover {
    border-radius: 6px;
  }



  section#Intro img{
   
    width:auto;
    
  }

}



  



/* 980 */

@media screen and (min-width:992px) {
  .container{
    width:890px;
  }

  header img{
    max-width: 95%;
    
    display: block;
margin-left: auto;
margin-right: auto;
border-radius: 5px;
  }

  

  nav ul {
  
  
    gap:3em;
   padding: 0px 100px ;
      
  }
  


}