html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}


main{
  width:960px;
  background-image:url(../img/grid.png);
  
  margin: 2.08333333% auto;
  border: 1px solid #000;

}

header, footer{
  
  width:940px;
  margin:1.04166667%;
  padding:2.08333333%;
  float:left;
  background-color: blue;
}

#primary
{
  
  background-color: blueviolet;
  width: 64.5833333%;
  margin-left:1.04166667%;
  padding:2.08333333%;
  float:left;
}

#secondary
{
  background-color: blueviolet;
  width: 31.25%;
  margin-left:2.08333333%;
  padding:2.08333333%;
  float:left;
}



